@import '../../../style/vars.styl';

.calendar {
	&__header{
		padding: 28px 32px;
		height: 100px;
		background-color: #f3f3f3;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
		
		.calendar__valign{
			display: inline-block;
			height: 100%;
		}
	}
	&__body{
		padding: 15px 56px;
		
		.calendar__menu {
			padding-bottom: 15px;
		}

		.calendar__cells{
			.calendar__row{
				border-top: 1px solid #ddd;
				border-left: 1px solid #ddd;
				border-right: 1px solid #ddd;
				
				&:last-child {
					border-bottom: 1px solid #ddd;
				}
			}
		}
	}
	
	&__buttons {
		display: inline-block;
		vertical-align: bottom;
		position: relative;

		&--add, &--refresh {
			display: inline-block;
			width: auto;
			cursor: pointer;
			outline: 0;
			background-color: $primary-color;
			border-color: darken($primary-color, 10%);
			color: #fff;
			
			&:hover {
				background-color: darken($primary-color, 10%);
				border-color: darken($primary-color, 20%);
			}
			
			&:active {
				background-color: darken($primary-color, 20%);
				border-color: darken($primary-color, 30%);
				box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
			}
		}
	}
	&__event {
		position: absolute;
        visibility: hidden;
        left: -10000px;
		
		&--display {
			position: initial;
			visibility: visible;
		}
	}
}