@import '../../../style/vars.styl';

.calendar {
	min-width: 450px;
	
	&__header{
		padding: 28px 32px;
		height: 100px;
		background-color: #f3f3f3;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
		
		&:before {
			display: inline-block;
			content: "";
		}

		/*.calendar__valign{
			display: inline-block;
			height: 100%;
		}*/
	}
	&__body{
		padding: 15px 56px;
		
		.calendar__menu {
			padding-bottom: 15px;
		}
		

		.calendar__rows{ 
			border: 1px solid #ddd;
			border-radius: 4px;
			
			.calendar__row{
				border-bottom: 1px solid #ddd;
				
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
	
	&__buttons {
		display: block;
		vertical-align: bottom;
		position: relative;
		
		& &--add {
			margin-right: 12px;
		}

		& &--add, & &--refresh {
			display: inline-block;
			width: auto;
			cursor: pointer;
			outline: 0;
			background-color: $primary-color;
			border-color: darken($primary-color, 10%);
			color: #fff;
			
			&:hover {
				background-color: darken($primary-color, 10%);
				border-color: darken($primary-color, 20%);
			}
			
			&:active {
				background-color: darken($primary-color, 20%);
				border-color: darken($primary-color, 30%);
				box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
			}
		}
		
		.calendar__search {
			float: right;
			position: relative;
			width: 220px;
		}
	}
}