.input-text-area {
    border-radius: 4px;
    box-shadow: inset 1px 1px 1px 0px #ccc;
    resize: none;
    height: 180px;
    font: normal 14px verdana;
    line-height: 16px;
    padding: 2px 10px;
    border: solid 1px #ddd;
}