.calendar-cell{
	cursor: pointer;
	float: left;
    height: 100px;
    line-height: 14px;
    width: 14.28%;
    text-align: left;
    padding: 8px;
    border-right: 1px solid #ddd;
    font-size: 12px;

    &:last-child {
		border-right: none;
	}
	
	&--selected {
		border: 2px solid #aad7fb;
	}
	&--cur-date {
		background-color: #f3f3f3;
		font-weight: 700;
    	font-size: 13px;
    	border: 1px solid #dadada;
    	border-right: 2px solid #dadada;
    	
    	&:last-child {
    		border-right: none;
    	}
	}
	&--has-event {
		background-color: rgba(187, 222, 251, 0.5);
	}
	
	&__content {
		word-break: break-word;
	    overflow: hidden;
	    height: 100%;
	    font-size: 11px;
	    
		.calendar-cell__title {
			font-size: 12px;
			
			&--not-cur-date {
				color: #ccc;
			}
		}
		.calendar-cell__event-title {
			font-weight: 700;
    		font-size: 12px;
		}
		.calendar-cell__event-participants{
			margin-top: 8px;
			line-height: 13px;
			font-weight: 100;
		}
	}
}