.event {
	position: absolute;
    visibility: hidden;
    left: -10000px;

	&--display {
		visibility: visible;
		top: 100%;
		left: auto;
	}
	
	&__pointer {
		width: 16px;
	    height: 16px;
	    display: inline-block;
	    background-color: #fff;
	    position: absolute;
	    transform: translateY(-50%) rotate(45deg);
	    left: 16px;
	    z-index: 2;
		box-shadow: -2px 0px 3px -2px rgba(0,0,0,0.14), -2px -2px 3px -2px rgba(0,0,0,0.14);
	}
	&__content {
		position: absolute;
	    z-index: 1;
	    background-color: #fff;
	    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
	    min-width: 250px;

		.event__header {
			padding: 4px;
		}
		.event__body {
			padding: 15px;
		    
		    .event__create-button {
		    	margin-top: 8px;
		    }
		}
		.event__footer {
			padding: 0px 15px 15px 15px;
		}
	}
}